*{padding: 0; margin: 0;}
html, body, #wrap {
height: 100%;
background-color:#6B0000;
color:#000000;
font:12px arial,helvetica,clean,sans-serif;
}


/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> pages <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
p{ padding-top:8px;
padding-bottom:8px; }

h1, h2, h3, h4, h5, h6, p, pre,
blockquote, label, dl, fieldset, address {
margin: .25em 0;
}
b, strong,h1,h2,h3,h4,h5,h6{
font-weight:bold;
color:#6B0000;
}

table{
margin-left:auto; margin-right:auto;
}

.search_results_table {
margin-left:0;
width:100%;
}

/*this is for specifying the color and padding of the navigational menu (home, browse, search */
#nav_menu {
text-align:center;
border-bottom:solid 2px #F2DE85;
padding-bottom:5px;
}

/*specifies attributes of the over-arching table that contains all header and content data*/
#wrap{
background-color:white;
border-top: solid;
border-left: solid;
border-right: solid;
border-color:#F2DE85;
width:800px;
}

/*table cells are top aligned*/
#wrap td {
vertical-align:top;
}

/*content td begins after 100px*/
.header{
height:100px
}

a > img{
border:none;
}

a:link {
color: #6B0000;
}

a:visited {
color: #D58A8A;
}

/*a:hover {
color: #033A71;
}*/

/*text color of navigation menu links is dark blue*/
a.menu {
color:#6B0000;
}

/*the content td has left and right padding of 8px*/
.content {
padding-left:8px;
padding-right:8px
}

/*the header and images of each div are centered and padded*/
div.image_sections{
text-align:center;
padding-top:10px;
padding-bottom:10px;
}

li {
list-style-type: none;
}

.div1_li {
margin-left:20px;
}

.div2_li {
margin-left:40px;
}
.div3_li {
margin-left:60px;
}

/*highlighted search text is yellow*/
.searchword {
background-color: yellow;
color: #000000;
}

#chars{
width:50px
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
font: 12px Arial, Helvetica, sans-serif;
color: #333333;
}
#TB_secondLine {
font: 10px Arial, Helvetica, sans-serif;
color:#666666;
}
#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
position: absolute;
z-index:100;
top: 0px;
left: 0px;
background-color:#000;
filter:alpha(opacity=60);
-moz-opacity: 0.6;
opacity: 0.6;
}
#TB_window {
position: absolute;
background: #ffffff;
z-index: 102;
color:#000000;
display:none;
border: 4px solid #525252;
text-align:left;
}
#TB_window img {
display:block;
margin: 15px 0 0 15px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-top: 1px solid #666;
border-left: 1px solid #666;
}
#TB_caption{
height:25px;
padding:7px 30px 10px 25px;
float:left;
}
#TB_closeWindow{
height:25px;
padding:11px 25px 10px 0;
float:right;
}
#TB_closeAjaxWindow{
padding:5px 10px 7px 0;
margin-bottom:1px;
text-align:right;
float:right;
}
#TB_ajaxWindowTitle{
float:left;
padding:7px 0 5px 10px;
margin-bottom:1px;
}
#TB_title{
background-color:#e8e8e8;
height:27px;
}
#TB_ajaxContent{
clear:both;
padding:2px 15px 15px 15px;
overflow:auto;
text-align:left;
line-height:1.4em;
}
#TB_ajaxContent p{
padding:5px 0px 5px 0px;
}
#TB_load{
position: absolute;
display:none;
height:100px;
width:100px;
z-index:101;
}
#TB_HideSelect{
z-index:99;
position:absolute;
top: 0;
left: 0;
background-color:#fff;
border:none;
filter:alpha(opacity=0);
-moz-opacity: 0;
opacity: 0;
}
#TB_iframeContent{
clear:both;
border:none;
margin-bottom:-1px;
margin-top:1px;
margin-bottom:1px;
}

.result_div_even {
    background-color: #e1e1e1;
}

.result_div_odd {
    background-color: #fff;
}

#searchResult ul li {
    padding-left: 10px;
}

#loader {
    border: 16px solid #fafafa; /* white */
    border-top: 16px solid #991818; /* Maroon */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    top: 0px;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
